body {
    background-image: url(cheese.png);
    font-family: sans-serif;
}

article, footer, header {
    background-color: white;
    border-radius: 1em;
    margin-bottom: 1em;
    opacity: 80%;
    padding: 0.5em;
    text-align: center;
    width: 40em;
}

header, footer {
    margin-left: auto;
    margin-right: auto;
}

footer img {
    display: inline-block;
    position: relative;
    top: 0.2em;
    height: 1em;
    width: 1em;
}

main {
    columns: 42em auto;
    text-align: center;
}

article {
    break-inside: avoid;
    display: inline-block;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

hr {
    border-style: dotted;
}

details {
    border: 1px dashed;
    border-radius: 0.5em;
}

summary {
    margin: 0.5em;
}

.entry {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.entry img {
    border-radius: 50%;
    float: left;
    margin-right: 1em;
    width: 4em;
}

h1 {
    margin: 0;
}

h1 img {
    border-radius: 50%;
    height: 2em;
    margin-bottom: -0.5em;
    width: 2em;
}

.entry p {
    text-align: left;
}

q {
    font-style: italic;
}

.members {
    float: right;
    font-style: italic;
}

.minage {
    background-color: darkred;
    border-radius: 0.5em;
    color: white;
    padding: 0.25em;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding-left: 0;
}

iframe {
    border: none;
    width: 100%;
}

@media (prefers-color-scheme: dark) {
    body {
        background-image: url(cheesedark.png);
        color: white;
    }

    article, footer, header {
        background-color: black;
    }

    a {
        color: lightblue;
    }

    a:visited {
        color: violet;
    }

    iframe {
        filter: invert(100%) hue-rotate(180deg);
    }
}

@media (max-width: 42.5em) {
    body {
        margin: 0;
    }

    article, footer, header {
        border-radius: 0;
        width: auto;
    }

    article {
        display: revert;
        margin-left: 0;
        margin-right: 0;
    }

    .entry {
        width: auto;
    }

    main {
        display: block;
    }
}
