{% extends "base.html" %}

{% block title %}About{% endblock %}
{% block description %}About us{% endblock %}

{% block content %}
<article>
    <h2>About Us</h2>
    <p>We are a community of folks around southeastern Wisconsin numbering several hundred strong who celebrate the prevalence of anthropomorphic animals in culture. Through our pursuit of the arts, we believe the right to the exploration and expression of identity is what makes us human. Whether it is in a chair around a bonfire, at the table of a board game, underneath a fursuit, or simply chilling with us at any of the beaches and parks around Lake Michigan, we would be glad to meet you! Depending on which chatrooms you join from the Chat Directory on our <a href="{{ url_for('index') }}">homepage</a>, you'll find yourself enjoying both planned and impromptu events and meetups nearly every week.</p>
    <p>We mainly organize ourselves through <a href="https://telegram.org/">Telegram</a>, a cross-platform instant messaging system. Hop on in; we would love to have you!</p>
</article>
<article>
    <h2>About This Website</h2>
    <p>This website was created by a member of the local community in late 2021 to help catalog the many groups that make up the furries of southeastern Wisconsin. What started as a directory of chatrooms for folks already in the community quickly became a portal for new members to discover us.</p>
    <p>This website is open source under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version. If you are interested in contributing to the website, feel free to <a href="https://fursona.directory/@LiliaRoo">contact its operator</a> or take a look at the <a href="https://gitlab.com/sewifurs/sewifurs.org">source code</a>.</p>
</article>
<article>
    <h2>The Logo</h2>
    <p>The current logo is edited from these two public domain images:</p>
    <ul>
        <li><a href="https://milwaukeeflag.com/download/">Sunrise Over the Lake</a> (The People's Flag of Milwaukee) by Robert Lenz</li>
        <li><a href="https://openclipart.org/detail/142447/paw-print">Paw Print</a> by kattekrab</li>
    </ul>
    <p>In the spirit of its components' licensing, the author, Lilia Roo, releases the logo into the public domain.</p>
</article>
{% endblock %}
