<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>SEWI Furs {% if settings.development %}({{ settings.development }}) {% endif %}/ {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="static/style.css">
        <link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon">
        <link rel="icon" href="static/favicon.ico" type="image/x-icon">
        <meta name="description" content="The furries of southeastern Wisconsin {% if settings.development %}({{ settings.development }}) {% endif %}- {% block description %}{% endblock %}">
        <meta name="og:description" content="The furries of southeastern Wisconsin {% if settings.development %}({{ settings.development }}) {% endif %}- {{ self.description() }}">
        <meta name="og:image" content="{{ settings.base }}/static/sewifurs.png">
        <meta name="og:title" content="SEWI Furs {% if settings.development %}({{ settings.development }}) {% endif %}/ {{ self.title() }}">
        <meta name="og:type" content="website">
        <meta name="og:url" content="{{ settings.base }}">
        {% if settings.development %}
            <meta name="robots" content="noindex">
        {% endif %}
    </head>
    <body>
        <header>
            <h1>
                <img alt="The People's Flag of Milwaukee, but with a paw instead of a sun" src="static/sewifurs.png">
                <a href="{{ url_for('index') }}">SEWI Furs</a> {% if settings.development %}({{ settings.development }}) {% endif %}{{ self.title() }}
            </h1>
            <p>The furries of southeastern Wisconsin and nearby areas</p>
            <q>Born in Wisconsin, raised on cheese</q>
            <hr>
            <nav>
                <ul>
                    <li>🏠 <a href="{{ url_for('index') }}">Home</a></li>
                    <li>📸 <a href="{{ url_for('pictures') }}">Pictures</a></li>
                    <li>🦫 <a href="{{ url_for('services') }}">Services</a></li>
                    <li>📜 <a href="{{ url_for('about') }}">About</a></li>
                </ul>
            </nav>
        </header>
        <main>
            {% block content %}{% endblock %}
        </main>
        <footer>
            <nav>
                <ul>
                    <li>
                        <img src="static/social/bluesky.svg" alt="Bluesky">
                        <a href="https://bsky.app/profile/sewifurs.org">Bluesky</a>
                    </li>
                    <li>
                        <img src="static/social/mastodon.svg" alt="Mastodon">
                        <a href="https://fursuits.online/@sewifurs" rel="me">Mastodon</a>
                    </li>
                    <li>
                        <img src="static/social/gitlab.svg" alt="GitLab">
                        <a href="https://gitlab.com/sewifurs/sewifurs.org">Website</a> by <a href="https://fursona.directory/@LiliaRoo">Lilia Roo</a>
                    </li>
                </ul>
            </nav>
        </footer>
    </body>
</html>
