<div class="entry">
    <img alt="Image for {{ chat.name }}" src="static/{{ chat.image }}">
    <p>
        <a href="{{ chat.link }}">{{ chat.name }}</a>
        {% if chat.minage %}
            <span class="minage">{{ chat.minage }}+</span>
        {% endif %}
        {% if chat.members %}
            <span class="members">~{{ chat.members }} members</span>
        {% endif %}
    </p>
    <p>{{ chat.text|safe }}</p>
</div>
