{% extends "base.html" %}

{% block title %}Home{% endblock %}
{% block description %}Chat directory and event calendar{% endblock %}

{% block content %}
{% if settings.show_news %}
<article>
    <h2>News</h2>
    {% for message in news %}
        <h3>{{ message.sent_at.strftime('%A, %B %-d, %Y, at %-I:%M:%S %p') }}</h3>
        <p>{{ message.text | replace('\n', '<br />') | safe }}</p>
    {% else %}
        <p><em>There is no news.</em></p>
    {% endfor %}
    <h3>Older Updates</h3>
    <p>See <a href="https://t.me/+rV1V0L94Bjg1YmUx">Furwaukee Event Announcements &amp; Carpools</a>.</p>
</article>
{% endif %}
<article>
    <h2>Metro Milwaukee</h2>
    {% for chat in chats.Milwaukee %}
        {% include 'chat.html' %}
    {% endfor %}
</article>
<article>
    <h2>Greater Madison</h2>
    {% for chat in chats.Madison %}
        {% include 'chat.html' %}
    {% endfor %}
</article>
<article>
    <h2>Statewide</h2>
    {% for chat in chats.Wisconsin %}
        {% include 'chat.html' %}
    {% endfor %}
</article>
<article>
    <h2>And, in nearby Chicagoland...</h2>
    <p><em>Milwaukee&ndash;Chicago has <a href="https://amtrakhiawatha.com/amtrak/schedules.php">decent train service</a>; consider bringing your fursuit on board (or carpooling with other furries) to avoid the stress of parking in Chicago.</em></p>
    {% for chat in chats.Chicago %}
        {% include 'chat.html' %}
    {% endfor %}
</article>
<article>
    <h2>Event Calendar</h2>
    <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=America%2FChicago&src=azdlZWNnbzQ1b3JmYmttYjZmM21oYXRlbDRAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%238E24AA" width="640" height="600"></iframe>
    <p><em>To add an event, see the instructions in the Furwaukee Meetups chatroom.</em></p>
</article>
{% endblock %}
