{% extends "base.html" %}

{% block title %}Pictures{% endblock %}
{% block description %}Pictures from past events{% endblock %}

{% block content %}
<article>
    <h2>The future home of photos</h2>
    <p>Unfortunately, the static links on this page tend to get outdated pretty quickly, and every addition or update requires a change to this website!</p>
    <p>To make things easier, it is recommended to move to <a href="https://www.furtrack.com/">FurTrack</a> for fursuit photos. This allows you, the photographer, to publish your work and (more importantly) make it visible without needing another person to perform manual work. Photos shared in a chatroom will eventually become lost and unreachable, but photos properly tagged in FurTrack will remain easy to find even years into the future.</p>
    <ul>
        <li><a href="https://www.furtrack.com/index/event:fursconsinmeets">Fursconsin Meets</a></li>
        <li><a href="https://www.furtrack.com/index/event:milwaukeepublicsuiting">Milwaukee Public Suiting</a></li>
        <li><a href="https://www.furtrack.com/index/event:fur_squared">Fur Squared</a></li>
        <li><a href="https://www.furtrack.com/index/event:aquatifur">AquatiFur</a></li>
        <li><a href="https://www.furtrack.com/index/event:madisonfurbowl">Madison Furry Bowling</a></li>
        <li><a href="https://www.furtrack.com/index/event:madisonfursuitromp">Madison Fursuit Romp</a></li>
        <li><a href="https://www.furtrack.com/index/event:fang">Madison Fang</a></li>
        <li><a href="https://www.furtrack.com/index/event:furski">Furski</a></li>
    </ul>
</article>
<article>
    <h2>Fursuit Walks (old links)</h2>
    <p><a href="https://t.me/walfwalf550">Dire Walf</a> has provided us with a great selection of photos from our fursuit walks around downtown Milwaukee. In addition to this, they are open for private photoshoot commissions.</p>
    <ul>
        <li><a href="https://www.flickr.com/photos/195259511@N06/albums/72177720298735098">2022-05-07 furwalk</a></li>
        <li><a href="https://www.flickr.com/photos/195259511@N06/albums/72177720299899941">2022-06-18 furwalk</a></li>
    </ul>
    <h2>Bonfire (old links)</h2>
    <ul>
        <li><a href="https://www.flickr.com/photos/ajriccobono/albums/72177720300094657">2022-06-25 bonfire</a></li>
        <li><a href="https://www.flickr.com/photos/ajriccobono/albums/72177720300432334">2022-07-09 bonfire</a></li>
    </ul>
    <h2>Furski (old links)</h2>
    <ul>
        <li><a href="https://www.flickr.com/photos/129237139@N06/albums/72177720296644054">Ski</a> from <a href="https://twitter.com/Alysterwolf">Alysterwolf</a></li>
    </ul>
</article>
<article>
    <h2>Conventions (old links)</h2>
    <p>We have two local conventions: Fur Squared in Brookfield, and AquatiFur in Wisconsin Dells.</p>
    <h3>Fur Squared 2022</h3>
    <ul>
        <li><a href="https://www.flickr.com/photos/129237139@N06/albums/72177720298187232">F2 2022 Night Dance &amp; Sun</a> from <a href="https://twitter.com/Alysterwolf">Alysterwolf</a></li>
        <li><a href="https://www.flickr.com/photos/129237139@N06/albums/72177720298186992">F2 2022 Sat</a> from <a href="https://twitter.com/Alysterwolf">Alysterwolf</a></li>
        <li><a href="https://www.flickr.com/photos/129237139@N06/albums/72177720298185636">F2 2022 Fri</a> from <a href="https://twitter.com/Alysterwolf">Alysterwolf</a></li>
        <li><a href="https://www.flickr.com/photos/195259511@N06/albums/72177720298156294">F2-2022</a> from <a href="https://t.me/walfwalf550">Dire Walf</a></li>
        <li><a href="https://www.furaffinity.net/gallery/marcusstarkiller/folder/1114605/Fur-Squared-2022">Fur Squared 2022</a> from <a href="https://www.furaffinity.net/user/marcusstarkiller/">Marcus Starkiller</a></li>
    </ul>
    <h3>Fur Squared 2020</h3>
    <ul>
        <li><a href="https://www.flickr.com/photos/129237139@N06/albums/72157713142189598">F2 2020 / Zoo / Milwaukee</a> from <a href="https://twitter.com/Alysterwolf">Alysterwolf</a></li>
        <li><a href="https://www.furaffinity.net/gallery/marcusstarkiller/folder/760571/Fur-Squared-2020">Fur Squared 2020</a> from <a href="https://www.furaffinity.net/user/marcusstarkiller/">Marcus Starkiller</a></li>
    </ul>
    <h3>Fur Squared 2019</h3>
    <ul>
        <li><a href="https://www.flickr.com/photos/129237139@N06/albums/72157690026724453">F2 2019</a> from <a href="https://twitter.com/Alysterwolf">Alysterwolf</a></li>
        <li><a href="https://www.furaffinity.net/gallery/marcusstarkiller/folder/622456/Fur-Squared-2019">Fur Squared 2019</a> from <a href="https://www.furaffinity.net/user/marcusstarkiller/">Marcus Starkiller</a></li>
    </ul>
    <h3>Fur Squared 2018</h3>
    <ul>
        <li><a href="https://www.furaffinity.net/gallery/marcusstarkiller/folder/487655/Fur-Squared-2018">Fur Squared 2018</a> from <a href="https://www.furaffinity.net/user/marcusstarkiller/">Marcus Starkiller</a></li>
    </ul>
    <h3>Fur Squared 2017</h3>
    <ul>
        <li><a href="https://www.flickr.com/photos/129237139@N06/albums/72157679122204040">FurSquared2017</a> from <a href="https://twitter.com/Alysterwolf">Alysterwolf</a></li>
        <li><a href="https://www.furaffinity.net/gallery/marcusstarkiller/folder/312001/Fur-Squared-2017">Fur Squared 2017</a> from <a href="https://www.furaffinity.net/user/marcusstarkiller/">Marcus Starkiller</a></li>
    </ul>
    <h3>Fur Squared 2016</h3>
    <ul>
        <li><a href="https://www.flickr.com/photos/129237139@N06/albums/72157662812816133">FurSquared2016</a> from <a href="https://twitter.com/Alysterwolf">Alysterwolf</a></li>
        <li><a href="https://www.furaffinity.net/gallery/marcusstarkiller/folder/170202/Fur-Squared-2016">Fur Squared 2016</a> from <a href="https://www.furaffinity.net/user/marcusstarkiller/">Marcus Starkiller</a></li>
    </ul>
</article>
{% endblock %}
