{% extends "base.html" %}

{% block title %}Services{% endblock %}
{% block description %}Services provided by local furry communities{% endblock %}

{% block content %}
<article>
    <h2>Chat Directory</h2>
    <p>The main purpose of this website is to catalog all the public furry groups in the region. Initially, it focused on groups in the Milwaukee area, but its scope has grown to include the Madison and Chicago areas.</p>
    <p>To add a chatroom, please send the details of the chatroom, including either an invite link or a person to contact for entry, to <a href="https://fursona.directory/@LiliaRoo">Lilia Roo</a>, who maintains this website.</p>
</article>
<article>
    <h2>Telegram Chat Auto-Approvals</h2>
    <p>Some chat owners enable <a href="https://telegram.org/blog/shared-media-scrolling-calendar-join-requests-and-more#join-requests-for-groups-and-channels">join requests</a> to reduce spam. Unfortunately, someone who wishes to join many chats for the local furry community will find themselves waiting to be let into each of these chats. To avoid this issue, the Telegram bot for this website has an auto-approval system, which allows someone who is already approved and present in one enrolled chat to be automatically let into another enrolled chat using join requests.</p>
    <p>To enroll your chat into this system, follow these steps:</p>
    <ol>
        <li>Add <a href="https://t.me/SEWIFursBot">@SEWIFursBot</a> to your chat</li>
        <li>Make it an admin with <em>only</em> "Add members" or "Invite users via link" granted</li>
        <li>Run <code>/chat_id</code></li>
        <li>Send the result to <a href="https://fursona.directory/@LiliaRoo">Lilia Roo</a>, who maintains the system</li>
    </ol>
    <p>As more chats enroll in the auto-approval system, it will become more useful.</p>
    <details>
        <summary>Enrolled chats ({{ check_chats|length }})</summary>
        <ul>
            {% for check_chat in check_chats %}
                <li>{{ check_chat.title }}</li>
            {% endfor %}
        </ul>
    </details>
</article>
<article>
    <h2>Bluesky Handles</h2>
    <p>Looking for a new Bluesky Social handle, beyond the standard <code>.bsky.social</code> handles? Show off your love for the local furry community here!</p>
    <ol>
        <li>Join one of the Telegram groups associated with the domain you want</li>
        <li>Run <code>/bluesky</code> to see which domain names you have access to</li>
        <li>Navigate to <a href="https://bsky.app/settings/account">Change Handle</a> in Bluesky Social</li>
        <li>Choose "I have my own domain"</li>
        <li>Copy the value of <code>did</code></li>
        <li>Run <code>/bluesky domain did</code>, substituting <code>domain</code> and <code>did</code></li>
        <li>Wait a few minutes</li>
    </ol>
    <p>Woohoo! You can now set your Bluesky handle to your Telegram username, followed by the domain you picked.</p>
    <p>To add a domain name to the system, send the domain name, the name of the domain registrar, and any needed API keys to <a href="https://fursona.directory/@LiliaRoo">Lilia Roo</a>, who maintains the system. The system currently handles DNS records set up through Namecheap and Name.com, but it is designed to easily add support for other registrars.</p>
    <details>
        <summary>Enrolled domains ({{ settings.bluesky_domains|length }})</summary>
        <ul>
            {% for domain in settings.bluesky_domains.keys() %}
                <li>{{ domain }}</li>
            {% endfor %}
        </ul>
    </details>
</article>
<article>
    <h2>Carpools</h2>
    <p>In my experience, furries are generous in offering a carpool to an event if you ask for one. The best places to ask for transportation are in a large chat for your area (where you're coming from) and the chat for the event (where you're going).</p>
    <p>Some groups, such as the one for the Milwaukee area, run a <a href="https://t.me/FurwaukeeTransit">dedicated event transportation channel</a> to help prevent questions from getting lost.</p>
</article>
<article>
    <h2>Event Calendar</h2>
    <p>A shared event calendar is present on the homepage. The intent is to make it editable by furries without implicitly trusting any random person with nefarious intent. Unfortunately, I have not been able to find a good solution to this problem. If you have a suggestion for how this could be done, please let me know!</p>
</article>
{% endblock %}
